@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: montserrat1;
    src: url(../fonts/montserrat/static/Montserrat-Light.ttf);
    font-weight: 200;
}




.panel {
    position: sticky;
    top: 0;
    width: 100%;
    height: 150px;
}

.section1 {
    background-image: url(../imgs/blogi.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: -40px;

}

.titlebox {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    width: 100%;
}

.hadline {
    border: none;
    height: 2px;
    background-color: black;
    width: 50px;
    margin-left: 0;
    margin-bottom: 25px;
}

.title {
    font-family: montserrat;
    max-width: 320px;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 3px;

}

.section2 {
    display: flex;
    justify-content: center;
}

.section2main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: -300px;
    background: white;
}

.imgbox {
    max-width: 480px;
    max-height: 360px;
}

.sec2text {
    max-width: 500px;
}

.relaxation {
    font-family: montserrat1;
    padding: 30px;
    max-width: 500px;
}

.admini {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px 0;
    line-height: 1.5;
}

.admin-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.admin-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-details p {
    margin: 0;
    font-family: montserrat1;
}

.admin-details .name {
    font-size: 14px;
    font-weight: bold;
}

.admin-details .date {
    font-size: 12px;
    color: #555;
}

.like-input {
    display: none;
}

h1 {
    font-size: 28px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: color 0.3s ease
}

.paragraf {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 70px;
    cursor: pointer;
    transition: color 0.3s ease
}

.value {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color: #555;
    width: 100%;
    padding-top: 15px;
}

.like-container {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 5px;
}

.paragraf:hover {
    color: #1b8279;
}

h1:hover {
    color: #1b8279;
}

.heart-svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: none;
    stroke: rgb(243, 14, 14);
    stroke-width: 2px;
    transition: all 0.3s ease;
}


.heart-icon:hover .heart-svg {
    transform: scale(1.2);
}

.like-input:checked+.heart-icon .heart-svg {
    fill: #ff0000;
    stroke: #ff0000;
    animation: heartBeat 0.3s linear;
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.2);
    }
}

.like-count {
    font-size: 14px;
}

.section3 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.section3main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    background: white;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
    font-family: montserrat1;
}

.pagination a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s ease;
}

.pages {
    display: flex;
    gap: 15px;
}

.page-num {
    padding: 5px 10px;
}


.page-num.active {
    font-weight: bold;
}

.pagination a:hover {
    color: #1b8279;
}

.arrow {
    font-size: 20px;
    font-weight: bold;
}

.footerinfram {
    width: 100%;
    height: 600px;

}

@media(max-width:1010px) {

    .section2,
    .section3,
    .titlebox {
        max-width: 500px;
        justify-content: center;
        margin: 0 auto;
    }

    .section2main {
        margin-top: 0;
        padding-top: 20px;
    }

    .section1 {
        height: 400px;
    }
}

@media(max-width:515px) {
    .title {
        font-size: 30px;
    }

    .titlebox {
        padding: 50px 20px;
    }

    .section2main,
    .section3main {
        margin: 0 20px;
    }
}