@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: montserrat1;
    src: url(../fonts/montserrat/static/Montserrat-Light.ttf);
    font-weight: 200;
}

.siteheader {
    position: fixed;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 5;
    background: white;
}

.headermain {
    display: flex;
    max-width: 1100px;
    margin: auto;
    position: relative;
}

#menu-toggle {
    display: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger span {
    display: block;
    width: 26px;
    height: 3px;
    margin: 5px 0;
    background-color: black;
    transition: 0.3s;
}

.headertitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-top: 10px;
}

.allan a {
    font-family: montserrat;
    font-size: 20px;
    color: black;
    letter-spacing: 0.2em;
    line-height: 2;
}

.allan a:hover {
    color: rgb(170, 217, 217);
}

.Personal a:hover {
    color: rgb(170, 217, 217);
}

nav p:hover {
    color: rgb(170, 217, 217);
}


.Personal a {
    font-family: montserrat1;
    font-size: 14px;
    color: black;
    padding-left: 30px;
    letter-spacing: 0.1em;
}

.navigacia {
    color: black;
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    padding-top: 10px;
}

.navtext {
    font-family: montserrat1;
    font-size: 15px;
    color: black;
}

.loginicon {

    display: flex;
    width: 100px;
    align-items: center;
    margin-left: 40px;
    border: none;
    background-color: white;

}


.section1 {
    background-image: url(../imgs/blogi.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

.titlebox {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

.hadline {
    border: none;
    height: 2px;
    background-color: black;
    width: 50px;
    margin-left: 0;
    margin-bottom: 25px;
}

.title {
    font-family: montserrat;
    max-width: 320px;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 3px;

}

.section2 {
    display: flex;
    justify-content: center;
}

.section2main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: -300px;
    background: white;
    border: 1px solid rgb(199, 193, 193);
    outline: none;
}

.imgbox {
    max-width: 499px;
    height: auto;
}


.relaxation {
    font-family: montserrat1;
    padding: 30px;
    max-width: 480px;
}

.admini {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 0;
    line-height: 1.5;
}

.admin-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.admin-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-details p {
    margin: 0;
    font-family: montserrat1;
}

.admin-details .name {
    font-size: 14px;
    font-weight: bold;
}

.admin-details .date {
    font-size: 12px;
    color: #555;
}

.like-input {
    display: none;
}

h1 {
    font-size: 28px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: color 0.3s ease
}

.paragraf {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 70px;
    cursor: pointer;
    transition: color 0.3s ease
}

.value {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color: #555;
    width: 100%;
    padding-top: 15px;
}

.like-container {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 5px;
}

.paragraf:hover {
    color: #1b8279;
}

h1:hover {
    color: #1b8279;
}

.heart-svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: none;
    stroke: rgb(243, 14, 14);
    stroke-width: 2px;
    transition: all 0.3s ease;
}


.heart-icon:hover .heart-svg {
    transform: scale(1.2);
}

.like-input:checked+.heart-icon .heart-svg {
    fill: #ff0000;
    stroke: #ff0000;
    animation: heartBeat 0.3s linear;
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.2);
    }
}

.like-count {
    font-size: 14px;
}

.section3 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.section3main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    background: white;
    border: 1px solid rgb(199, 193, 193);
    outline: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
    font-family: montserrat1;
}

.pagination a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s ease;
}

.pages {
    display: flex;
    gap: 15px;
}

.page-num {
    padding: 5px 10px;
}


.page-num.active {
    font-weight: bold;
}

.pagination a:hover {
    color: #1b8279;
}

.arrow {
    font-size: 20px;
    font-weight: bold;
}

.footerinfram {
    width: 100%;
    height: 600px;

}

.mobversion {
    display: none;
}

.footermaine {
    background-color: rgb(105, 218, 214);
    color: black;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footerline {
    border: none;
    height: 2px;
    background-color: black;
    width: 50px;
    margin: 0 0 20px 0;
}

.contactinfo {
    font-family: montserrat1;
    font-size: 14px;
    color: black;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: start;
    max-width: 300px;
}

h4 {
    font-family: montserrat;
    font-size: 24px;
    color: black;
    letter-spacing: 0.15em;
    line-height: 1.2;
    padding-bottom: 50px;
}

.contactdetails {
    max-width: 220px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
}

.socialicons {
    display: flex;
    gap: 20px;
}

.copyright {
    padding-top: 60px;
}

.copyright1 {
    display: none;
}

.wix {
    font-family: montserrat1;
    font-size: 12px;
    color: black;
    letter-spacing: 0.1em;
    text-decoration: underline;
}

.contactForm {
    max-width: 600px;
}

.formRow {
    margin-bottom: 20px;
}

.twocols {
    display: flex;
    gap: 20px;
}

.formgroup {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: 500;
}

input,
textarea {
    padding: 15px;
    border: 2px solid black;
    background: transparent;
    font-size: 16px;
}

.btn-dark {
    padding: 15px 50px;
    background: black;
    color: white;
    cursor: pointer;
    display: flex;
    justify-self: end;
}

@media(max-width:1010px) {

    .headermain {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .section2,
    .section3,
    .titlebox {
        max-width: 500px;
        margin: 0 auto;
    }

    .section2main {
        margin-top: 20px;
    }

    .section1 {
        height: 400px;
    }

    .headertitle {
        width: 100%;
        padding-left: 20px;
    }

    .burger {
        display: block;
        z-index: 5;
    }

    .navigacia {
        position: fixed;
        top: 0;
        right: -75%;
        width: 75%;
        height: 100vh;
        background: white;
        flex-direction: column;
        padding-top: 100px;
        gap: 20px;
        transition: right 0.3s ease;
        z-index: 1;
    }

    .navline {
        border-bottom: 1px solid black;
        width: 180px;
        height: 30px;
        text-align: center;
    }

    .First {
        order: 1;
    }

    .two {
        order: 2;
    }

    .three {
        order: 3;
    }

    .four {
        order: 4;
    }

    .five {
        order: 5;
    }

    .six {
        order: 6;
    }

    .seven {
        order: 7;
    }

    .eight {
        order: 8;
    }
    .nine{
        order: 9;
    }

    #menu-toggle:checked~nav .navigacia {
        right: 0;
    }


    #menu-toggle:checked+.burger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    #menu-toggle:checked+.burger span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked+.burger span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }


}

@media(max-width:960px) {
    .footermaine {
        flex-direction: column;
        align-content: space-around;
        gap: 50px;
    }

    .contactdetails {
        align-items: start;
    }

    .copyright {
        display: none;
    }

    .copyright1 {
        display: block;
        margin-top: 30px;
        padding: 0px 10px;
    }
}

@media(max-width:515px) {
    .title {
        font-size: 30px;
    }

    .titlebox {
        padding: 50px 20px;
    }

    .section2main,
    .section3main {
        margin: 20px 20px;
    }
}

@media (max-width: 490px) {
    .twocols {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 32px;
        padding-left: 20px;
    }

    .contactForm {
        padding: 0px 15px;

    }

    .contactinfo {
        padding-left: 15px;
    }
}

@media(max-width:320px) {
    .mobversion {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .mobnone {
        display: none;
    }

    .value {
        display: flex;
        justify-content: space-between;
    }

    .allan a {
        font-size: 16px;
    }

    .submit button {
        width: 280px;

    }

    .submittext {
        padding-left: 80px;
    }
}