@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: montserrat1;
    src: url(../fonts/montserrat/static/Montserrat-Light.ttf);
    font-weight: 200;
}

.panel {
    position: sticky;
    top: 0;
    width: 100%;
    height: 150px;
}

.baground {
    background-image: url(../imgs/mountains-blue.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.bookingContainer {
    max-width: 1500px;
    height: 100%;
    background: white;
    margin: 0 auto;
    padding: 60px 70px;
}

.bookingform {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

.goback {
    font-family: montserrat1;
    display: block;
    font-size: 17px;
    color: black;
    padding-bottom: 50px;
}



.datatable {
    font-family: montserrat1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
}

.clintDet {

    font-size: 20px;
}

.account {
    font-size: 14px;
    display: flex;
    background: rgb(231, 228, 228);
    height: 52px;
    text-align: center;
    align-items: center;
    padding-left: 20px;
}



.backFC,
.account a {
    color: black;
    text-decoration: underline;
}

.bookform {
    font-family: montserrat;
    font-size: 32px;
    letter-spacing: 5px;
    padding-bottom: 50px;
    text-decoration: none;
}

.formRow {
    display: flex;
    gap: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: 350;
}

.bookingform .formgroup input,
.bookingform .formgroup textarea {
    padding: 10px;
    border: 2px solid black;
    background: transparent;
    font-size: 16px;
}

.bookingDetails {
    max-width: 300px;
    font-family: montserrat1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    font-size: 20px;

}

.textfree {
    font-size: 17px;
    line-height: 2;
}

.hadline {
    border: none;
    height: 1px;
    background-color: black;
    margin: 10px 0;

}

.toggle-input {
    display: none;
}

.details-content {
    display: none;
}

.more-label {
    display: block;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
    padding-top: 10px;
}

.arrow-icon {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.details-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    font-family: montserrat1;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}

.less-label {
    display: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
    padding-top: 10px;

}

.toggle-input:checked~.more-label {
    display: none;
}

.toggle-input:checked~.details-content {
    max-height: 500px;
    opacity: 1;
    padding: 10px 0;
}

.toggle-input:checked~.details-content .less-label {
    display: block;
}

.lasttext {
    font-size: 15px;
    line-height: 1.5;
}

.formgroup {
    display: flex;
    flex-direction: column;

}

.booknow {
    font-size: 16px;
    background: black;
    text-align: center;
    color: white;
    padding: 10px;
}

.booknow:hover {
    text-decoration: underline;
    background: white;
    color: black;
}

.footermaine {
    background-color: rgb(105, 218, 214);
    color: black;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footerline {
    border: none;
    height: 2px;
    background-color: black;
    width: 50px;
    margin: 0 0 20px 0;
}

.contactinfo {
    font-family: montserrat1;
    font-size: 14px;
    color: black;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: start;
    max-width: 300px;
}

h4 {
    font-family: montserrat;
    font-size: 24px;
    color: black;
    letter-spacing: 0.15em;
    line-height: 1.2;
    padding-bottom: 50px;
}

.contactdetails {
    max-width: 220px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
}

.socialicons {
    display: flex;
    gap: 20px;
}

.copyright {
    padding-top: 60px;
}

.copyright1 {
    display: none;
}

.wix {
    font-family: montserrat1;
    font-size: 12px;
    color: black;
    letter-spacing: 0.1em;
    text-decoration: underline;
}

.contactForm {
    max-width: 600px;
}

.formRow1 {
    margin-bottom: 20px;
}

.twocols {
    display: flex;
    gap: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: 500;
}

.contactForm .formgroup input,
.contactForm .formgroup textarea {
    padding: 15px;
    border: 2px solid black;
    background: transparent;
    font-size: 16px;
}

.btn-dark {
    padding: 15px 50px;
    background: black;
    color: white;
    cursor: pointer;
    display: flex;
    justify-self: end;
}

@media(max-width: 980px) {
    .bookingContainer {
        margin: 0 15px;
    }
}

@media(max-width:960px) {

    .backFC,
    .bookform {
        text-align: center;
    }

    .footermaine {
        flex-direction: column;
        align-content: space-around;
        gap: 50px;
    }

    .contactdetails {
        align-items: start;
    }

    .copyright {
        display: none;
    }

    .copyright1 {
        display: block;
        margin-top: 30px;
        padding: 0px 10px;
    }
}

@media (max-width: 600px) {
    .twocols {
        flex-direction: column;
    }

    .formRow {
        flex-direction: column;
    }
}

@media (max-width: 490px) {

    .bookform {
        font-size: 25px;
    }

    .bookingContainer {
        padding: 15px;
    }
}

@media (max-width: 430px) {
    .contactForm {
        padding: 0px 15px;

    }

    .goback {
        padding: 20px 0 40px;
    }

    .contactinfo {
        padding-left: 15px;
    }
}

@media(max-width: 320px) {
    .submit button {
        width: 280px;

    }

    .submittext {
        padding-left: 60px;
    }
}