@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: montserrat1;
    src: url(../fonts/montserrat/static/Montserrat-Light.ttf);
    font-weight: 200;
}

.headermain {
    display: flex;
    gap: 20px;
    max-width: 400px;
    margin: 40px 0 40px 300px;

}

.title {
    font-family: montserrat;
    color: black;
    font-size: 20px;
}

.chec {
    font-family: montserrat1;
    font-size: 20px;
}

hr {
    border: 0;
    border-top: 1px solid black;
    margin-bottom: 25px;
}

.checmain {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    padding-top: 200px;
}

.text1 {
    font-family: montserrat;
    font-size: 24px;
}

.text2 {
    font-family: montserrat1;
    font-size: 16px;
    padding: 10px 0px 20px;
}

.cogack {
    display: inline-block;
    background: black;
    color: white;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

@media(max-width: 770px) {
    .headermain {
        margin: 30px;
    }
}

@media(max-width: 530px) {
    .checmain {
        margin: 20px;
        text-align: center;
    }
}

@media(max-width: 385px) {
    .headermain {
        margin: 10px;
        justify-content: center;
    }

    .title,
    .chec {
        font-size: 15px;
    }
}