@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: montserrat1;
    src: url(../fonts/montserrat/static/Montserrat-Light.ttf);
    font-weight: 200;
}

.baground {
    background-image: url(../imgs/mountains-blue.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.freeconsmain {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: auto;
    max-width: 1000px;
    height: 100%;
    gap: 40px;

}

.hadline {
    border: none;
    height: 1px;
    background-color: black;
    margin: 20px 0;
    width: 50px;
    margin-top: 50px;
}

h1 {
    font-family: montserrat;
    font-size: 42px;
    max-width: 400px;
    letter-spacing: 5px;
    line-height: 1.2;

}

.text {
    font-family: montserrat1;
    font-size: 15px;
    line-height: 1.2;
    max-width: 900px;
    padding-top: 30px;
}

.calendarbox {
    display: flex;
    flex-direction: column;
    flex: 2;
    flex-wrap: wrap;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    height: auto;
    background-color: white;
    padding: 50px 20px;
    gap: 30px;
    align-items: flex-start;
}

.arrow {
    display: inline-block;
    transform: rotate(90deg);
}

.title {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

h2 {
    font-family: montserrat;
    font-size: 20px;
    padding-right: 70px;
    letter-spacing: 2px;
}

.text2 {
    font-family: montserrat1;
    font-size: 15px;

}

.mainline {
    border: none;
    height: 1px;
    background-color: rgb(55, 53, 53);
}

.calavalab {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calendar-controls,
button {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    border: none;
    background: none;
    font-family: montserrat1;
    font-size: 20px;
    padding: 0 15px 10px;


}

.calDay {
    font-family: montserrat1;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendarnumb {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    text-align: center;
    padding: 10px 0;
    font-family: montserrat1;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.StartThu {
    grid-column-start: 5;
}

.selectday {
    background: rgb(27, 130, 121);
    color: white;

}

.difcol {
    color: rgb(111, 155, 155);
}

.selectday:hover {
    opacity: 0.5;
}

.day.hasDot::after {
    content: '';
    width: 4px;
    height: 4px;
    background: black;
    border-radius: 50%;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);

}

.day.disabled {
    opacity: 0.5;
}

.availabl {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h3 {
    font-family: montserrat1;
    font-size: 16px;
}

.serchtim {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.tim {
    border: 1px solid black;
    text-align: center;
    padding: 10px 15px;
}

.seltim {
    background-color: rgb(27, 130, 121);
    color: white;
}

.hiden {
    display: none;
}

.sowall {
    color: rgb(27, 130, 121);
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    text-decoration: underline;
}

#show-more-check {
    display: none;
}

#show-more-check:checked~.serchtim .hiden {
    display: flex;
}

#show-more-check:checked~.sowall {
    display: none;
}

h4 {
    font-family: montserrat;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
    width: 200px;
}

.toggle-input {
    display: none;
}

.more-label {
    display: block;
    color: black;
    cursor: pointer;
    font-family: montserrat1;
    font-size: 14px;
    margin-top: 10px;
}

.arrow-icon {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.details-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    font-family: montserrat1;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}

.less-label {
    display: block;
    color: black;
    cursor: pointer;
    font-family: montserrat1;
    font-size: 14px;
    margin-top: 15px;
    padding-top: 10px;

}

.toggle-input:checked~.more-label {
    display: none;
}

.toggle-input:checked~.details-content {
    max-height: 500px;
    opacity: 1;
    padding: 10px 0;
}

.next {
    background-color: black;
    color: white;
    display: inline;
    text-align: center;
    padding: 10px 15px;
    width: 100%;
    margin-top: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.next:hover {
    background: white;
    color: black;
    border: 1px solid black;
    text-decoration: underline;
}

.footerinfram {
    width: 100%;
    height: 600px;

}

@media(max-width: 1015px) {
    .freeconsmain {
        padding: 0px 20px;
    }

    .availabl {
        padding: 50px;
    }

    .calendar {
        padding-left: 30px;
    }
}

@media(max-width: 730px) {
    .serdet {
        max-width: 300px;
    }

}

@media(max-width: 535px) {
    .availabl {
        padding: 30px;
    }

    .calendar {
        padding-left: 5px;
    }

    h2 {
        padding: 0 15px 15px 0;
    }

    h1 {
        font-size: 35px;
    }

    .hide {
        display: none;
    }

    .calDay {
        font-size: 15px;
    }

    .title {
        justify-content: start;
    }
}

@media(max-width: 380px) {
    h1 {
        font-size: 25px;
    }

    .calendar {
        padding: 0px;
    }

    .availabl {
        padding: 30px 0 0;
    }

    .serchtim {
        max-width: 250px;
    }
}