@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: montserrat1;
    src: url(../fonts/montserrat/static/Montserrat-Light.ttf);
    font-weight: 200;
}

.guidesconteiner {
    background-image: url(../imgs/mountains-blue.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    width: 100%;
}

.lin {
    border: none;
    height: 2px;
    background-color: black;
    width: 50px;
    margin: 100px 200px 50px 5px;
}

h1 {
    font-family: montserrat;
    font-size: 42px;
    letter-spacing: 2px;
    padding-bottom: 50px;
}

p {
    font-family: montserrat1;
}

.text {
    font-size: 15px;
    line-height: 1.5;
    max-width: 550px;
}

.guidesmain {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 150px;
    gap: 20px;
}

.guidesBox {
    display: flex;
    flex-direction: column;
}

.text1 {
    font-size: 14px;

}

.serch {
    display: flex;
    justify-content: end;
}

.guidesmain .formgroup input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 5px 0;
    background: transparent;
    transition: border-color 0.3s;
}

.lineferst {
    display: grid;
    grid-template-columns: 40px 2.5fr 1.2fr 0.8fr 1fr 1.5fr;
    ;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 15px 0;
    font-size: 14px;
    width: 100%;
}

.desktop-row {
    display: grid;
    grid-template-columns: 40px 2.5fr 1.2fr 0.8fr 1fr 1.5fr;
    gap: 20px;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.folder {
    display: flex;
    align-items: center;
    gap: 5px;
}

.swap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item {
    line-height: 1.5;
}

.member {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    cursor: pointer;
}

.mobil {
    display: none;
}

.mobile-row {
    display: none;
}

.simple-star {
    font-size: 40px;
    color: rgb(24, 24, 24);
    cursor: pointer;
    border-radius: 50%;
    transition: color 0.3s;
}

.simple-star:hover {
    color: gold;
}


.footerinfram {
    width: 100%;
    height: 600px;

}

.footermaine {
    background-color: rgb(105, 218, 214);
    color: black;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footerline {
    border: none;
    height: 2px;
    background-color: black;
    width: 50px;
    margin: 0 0 20px 0;
}

.contactinfo {
    font-family: montserrat1;
    font-size: 14px;
    color: black;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: start;
    max-width: 300px;
}

h4 {
    font-family: montserrat;
    font-size: 24px;
    color: black;
    letter-spacing: 0.15em;
    line-height: 1.2;
    padding-bottom: 50px;
}

.contactdetails {
    max-width: 220px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
}

.socialicons {
    display: flex;
    gap: 20px;
}

.copyright {
    padding-top: 60px;
}

.copyright1 {
    display: none;
}

.wix {
    font-family: montserrat1;
    font-size: 12px;
    color: black;
    letter-spacing: 0.1em;
    text-decoration: underline;
}

.contactForm {
    max-width: 600px;
}

.formRow {
    margin-bottom: 20px;
}

.twocols {
    display: flex;
    gap: 20px;
}

.formgroup {
    display: flex;
    flex-direction: column;
}

.contactForm label {
    margin-bottom: 10px;
    font-weight: 500;
}

.contactForm input,
.contactForm textarea {
    padding: 15px;
    border: 2px solid black;
    background: transparent;
    font-size: 16px;
}

.btn-dark {
    padding: 15px 50px;
    background: black;
    color: white;
    cursor: pointer;
    display: flex;
    justify-self: end;
}

@media(max-width:960px) {
    .footermaine {
        flex-direction: column;
        align-content: space-around;
        gap: 50px;
    }

    .contactdetails {
        align-items: start;
    }

    .copyright {
        display: none;
    }

    .copyright1 {
        display: block;
        margin-top: 30px;
        padding: 0px 10px;
    }
}

@media(max-width:935px) {
    .conteiner {
        margin: 0 20px;
    }
}

@media(max-width:755px) {
    .conteiner {
        margin: 0;
    }

    .title {
        padding: 0 10px;
    }

    .lineferst {
        display: none;
    }

    .desktop-row {
        display: none;

    }

    .serch {
        justify-content: start;
        padding: 15px 0;
    }

    .guidesmain .serch input[type="text"] {
        border: none;
    }

    .mobile-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        border-top: 1px solid black;
    }

    .diferrou {
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }

    .folder-part {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .texts .item {
        font-weight: bold;
        font-size: 14px;
        margin: 0;
    }

    .sub-text {
        font-size: 12px;
        color: #666;
        margin-top: 4px;
    }

    .icons-part {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .guidesmain .formgroup input[type="text"] {
        border: none;
    }

    .contactinfo {
        padding-left: 15px;
    }

    .contactForm {
        padding: 0px 15px;

    }
}

@media (max-width: 510px) {
    .twocols {
        flex-direction: column;
    }


}

@media(max-width: 320px) {
    .submit button {
        width: 280px;

    }

    .submittext {
        padding-left: 80px;
    }
}