@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: montserrat1;
  src: url(../fonts/montserrat/static/Montserrat-Light.ttf);
  font-weight: 200;
}

.siteheader {
  position: fixed;
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 6;
  background: white;
}

.headermain {
  display: flex;
  max-width: 1100px;
  margin: auto;
  position: relative;
}

#menu-toggle {
  display: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.login {
  font-size: 16px;
}

.burger span {
  display: block;
  width: 26px;
  height: 3px;
  margin: 5px 0;
  background-color: black;
  transition: 0.3s;
}

.headertitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-top: 10px;
}

.allan a {
  font-family: montserrat;
  font-size: 20px;
  color: black;
  letter-spacing: 0.2em;
  line-height: 2;
}

.allan a:hover {
  color: rgb(170, 217, 217);
}

.Personal a:hover {
  color: rgb(170, 217, 217);
}

nav p:hover {
  color: rgb(170, 217, 217);
}


.Personal a {
  font-family: montserrat1;
  font-size: 14px;
  color: black;
  padding-left: 30px;
  letter-spacing: 0.1em;
}

.navigacia {
  color: black;
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  padding: 10px 0 0 15px;

}

.navtext {
  font-family: montserrat1;
  font-size: 15px;
  color: black;
}

.loginicon {

  display: flex;
  width: 150px;
  align-items: center;
  border: none;
  background-color: white;

}


@media (max-width: 1100px) {
  .headertitle {
    width: 100%;
    padding-left: 20px;
  }

  .burger {
    display: block;
    z-index: 5;
  }

  .navigacia {
    position: fixed;
    top: 0;
    right: -75%;
    width: 75%;
    height: 100vh;
    background: white;
    flex-direction: column;
    padding-top: 100px;
    gap: 20px;
    transition: right 0.3s ease;
    z-index: 1;
  }

  .navline {
    border-bottom: 1px solid black;
    width: 180px;
    height: 30px;
    text-align: center;
  }

  .First {
    order: 1;
  }

  .two {
    order: 2;
  }

  .three {
    order: 3;
  }

  .four {
    order: 4;
  }

  .five {
    order: 5;
  }

  .six {
    order: 6;
  }

  .seven {
    order: 7;
  }

  .eight {
    order: 8;
  }
  .nine{
    order: 9;
  }

  #menu-toggle:checked~nav .navigacia {
    right: 0;
  }


  #menu-toggle:checked+.burger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }

  #menu-toggle:checked+.burger span:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked+.burger span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .headermain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 32px;
    padding-left: 20px;
  }
}

@media(max-width: 320px) {
  .allan a {
    font-size: 16px;
  }

  .Personal a {
    padding-left: 10px;
  }

}