@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: montserrat1;
    src: url(../fonts/montserrat/static/Montserrat-Light.ttf);
    font-weight: 200;
}

.siteheader {
    position: fixed;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 5;
    background: white;
}

.headermain {
    display: flex;
    max-width: 1000px;
    margin: auto;
    position: relative;
}

#menu-toggle {
    display: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger span {
    display: block;
    width: 26px;
    height: 3px;
    margin: 5px 0;
    background-color: black;
    transition: 0.3s;
}

.headertitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-top: 10px;
}

.allan a {
    font-family: montserrat;
    font-size: 20px;
    color: black;
    letter-spacing: 0.2em;
    line-height: 2;
}

.allan a:hover {
    color: rgb(170, 217, 217);
}

.Personal a:hover {
    color: rgb(170, 217, 217);
}

nav p:hover {
    color: rgb(170, 217, 217);
}


.Personal a {
    font-family: montserrat1;
    font-size: 14px;
    color: black;
    padding-left: 30px;
    letter-spacing: 0.1em;
}

.navigacia {
    color: black;
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    padding-top: 10px;
}

.navtext {
    font-family: montserrat1;
    font-size: 15px;
    color: black;
}

.loginicon {

    display: flex;
    width: 100px;
    align-items: center;
    margin-left: 40px;
    border: none;
    background-color: white;

}

.section1 {
    background-image: url(../imgs/mountin.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;


}

.section1text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.AMBITION {
    font-family: montserrat;
    font-size: 17px;
    color: black;
    letter-spacing: 0.18em;
    padding-top: 80px;
}

.SUCCESS {
    font-family: montserrat;
    font-size: 110px;
    color: black;
    letter-spacing: 0.3em;
    padding-top: 20px;
}

.coaching {
    font-family: montserrat1;
    font-size: 23px;
    color: black;
    letter-spacing: 0.1em;
    padding-top: 20px;
}

.booknow p {
    font-family: montserrat1;
    font-size: 16px;
    color: white;
    background-color: black;
    padding: 15px 30px;
    margin-top: 50px;
}

.section2 {
    position: relative;
    top: 0;
    z-index: 2;
}

.sectionmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 20px;
    background: white;
    height: 100vh;
    width: 100%;

}

.section2lin {
    border: none;
    height: 2px;
    background-color: black;
    width: 50px;
    margin: 100px 200px 50px 5px;
}

.section2text {
    max-width: 430px;
}

.section2title {
    width: 20px;
    font-family: montserrat;
    font-size: 42px;
    color: black;
    letter-spacing: 0.2em;
    line-height: 1.2;
}

.section2paragraf {
    font-family: montserrat1;
    font-size: 15px;
    color: black;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding-top: 50px;
}

.section2paragraf2 {
    font-family: montserrat1;
    font-size: 15px;
    color: black;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding-top: 40px;
}

.section2img {
    width: 60%;
    height: 100%;

}

.section2img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;

}

.section2buttons {
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

.readmore {
    font-family: montserrat1;
    font-size: 16px;

    border: 2px solid black;
    padding: 15px 30px;

    transition: background-color 0.3s ease, color 0.3s ease;

}

.Consultation {
    font-family: montserrat1;
    font-size: 16px;

    border: 2px solid black;
    padding: 15px 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-light {
    background: white;
    color: black;
}

.btn-light:hover {
    background: black;
    color: white;
}

.btn-dark {
    background: black;
    color: white;
}

.btn-dark:hover {
    background: white;
    color: black;
}

.section3 {
    position: relative;
    z-index: 3;

}

.section3background {
    background-image: url(../imgs/mountains-blue.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

.section3container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}

.section3lin {
    border: none;
    height: 2px;
    background-color: black;
    width: 50px;
    margin: 100px 0 50px 5px;
}

.section3header {
    width: 400px;
    padding-bottom: 50px;
}

h2 {
    font-family: montserrat;
    font-size: 42px;
    color: black;
    letter-spacing: 0.2em;
    line-height: 1.2;
}

.section3cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

.card1,
.card2,
.card3 {
    display: grid;
    gap: 20px;
    border: 6px solid black;
    width: 310px;
    height: 100%;
}

.cardlin {
    border: none;
    height: 2px;
    background-color: black;
    width: 250px;

}

h3 {
    text-align: center;
    font-family: montserrat;
    font-size: 24px;
    color: black;
    letter-spacing: 0.15em;
    line-height: 1.2;
    padding: 40px 40px 0 40px;
    width: 300px;
}

.desc {
    font-family: montserrat1;
    font-size: 15px;
    color: black;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 0 20px;
    text-align: center;
    width: 300px;
}

.time,
.price,
.hr,
.weekDays {
    font-family: montserrat1;
    font-size: 14px;
    color: black;
    letter-spacing: 0.1em;
    text-align: center;
}

.Book {
    font-family: montserrat1;
    font-size: 16px;
    color: white;
    border: 2px solid black;
    padding: 10px 30px;
    margin: 100px auto 30px auto;
    background-color: black;
    width: 150px;
}

.underline:hover {
    text-decoration: underline;
}

.book1 {
    margin-top: 66px;
}

.book2 {
    margin-top: 5px;
}

.section3end {
    display: flex;
    justify-content: center;
    padding: 50px 0 100px 0;
}

.mainBtn {
    font-family: montserrat1;
    font-size: 16px;
    color: white;

    background-color: black;
    padding: 15px 30px;
}

.btn-dark {
    background: black;
    color: white;
}

.btn-dark:hover {
    background: white;
    color: black;
}

.footermaine {
    background-color: rgb(105, 218, 214);
    color: black;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footerline {
    border: none;
    height: 2px;
    background-color: black;
    width: 50px;
    margin: 0 0 20px 0;
}

.contactinfo {
    font-family: montserrat1;
    font-size: 14px;
    color: black;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: start;
    max-width: 300px;
}

h4 {
    font-family: montserrat;
    font-size: 24px;
    color: black;
    letter-spacing: 0.15em;
    line-height: 1.2;
    padding-bottom: 50px;
}

.contactdetails {
    max-width: 220px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
}

.socialicons {
    display: flex;
    gap: 20px;
}

.copyright {
    padding-top: 60px;
}

.copyright1 {
    display: none;
}

.wix {
    font-family: montserrat1;
    font-size: 12px;
    color: black;
    letter-spacing: 0.1em;
    text-decoration: underline;
}

.contactForm {
    max-width: 600px;
}

.formRow {
    margin-bottom: 20px;
}

.twocols {
    display: flex;
    gap: 20px;
}

.formgroup {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: 500;
}

input,
textarea {
    padding: 15px;
    border: 2px solid black;
    background: transparent;
    font-size: 16px;
}

.btn-dark1 {
    padding: 15px 50px;
    background: black;
    color: white;
    cursor: pointer;
    display: flex;
    justify-self: end;
}


@media(max-width: 1050px) {
    .section2text {
        padding-left: 20px;
    }

    .sectionmain {
        height: auto;
        min-height: 100vh;
        justify-content: center;
        justify-content: flex-start;
    }

    .headermain {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .headertitle {
        width: 100%;
        padding-left: 20px;
    }

    .navigacia {
        grid-template-columns: repeat(4, 70px);
    }

    .loginicon {
        margin-left: 0;
        justify-content: center;
    }

    .section2img {
        width: 100%;
        height: auto;

    }

    .section2img img {
        object-position: center top;
    }

    .section3container {
        align-items: center;
    }

    .section3cards {
        justify-content: center;
    }

    .burger {
        display: block;
        z-index: 4;
    }


    .navigacia {
        position: fixed;
        top: 0;
        right: 100%;
        width: 75%;
        height: 100vh;
        background: white;
        flex-direction: column;
        padding-top: 100px;
        gap: 20px;
        transition: right 0.3s ease;
        z-index: 1;
    }

    .navline {
        border-bottom: 1px solid black;
        width: 180px;
        height: 30px;
        text-align: center;
    }

    .First {
        order: 1;
    }

    .two {
        order: 2;
    }

    .three {
        order: 3;
    }

    .four {
        order: 4;
    }

    .five {
        order: 5;
    }

    .six {
        order: 6;
    }

    .seven {
        order: 7;
    }

    .eight {
        order: 8;
    }

    #menu-toggle:checked~nav .navigacia {
        right: 0;
    }


    #menu-toggle:checked+.burger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    #menu-toggle:checked+.burger span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked+.burger span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}

@media(max-width: 900px) {
    .navigacia {
        grid-template-columns: repeat(2, 70px);
    }

    .sectionmain {
        gap: 20px;
        padding-left: 0px;
    }

    .section2text {
        max-width: 100%;
        padding: 0 20px;
    }

}

@media(max-width:960px) {
    .footermaine {
        flex-direction: column;
        align-content: space-around;
        gap: 50px;
    }

    .contactdetails {
        align-items: start;
    }

    .copyright {
        display: none;
    }

    .copyright1 {
        display: block;
        margin-top: 30px;
        padding: 0px 10px;
    }
}

@media(max-width: 830px) {
    .section3background {
        background-image: none;
    }

}

@media(max-width: 720px) {

    .AMBITION {
        font-size: 14px;
    }

    .SUCCESS {
        font-size: 80px;
    }

    .coaching {
        font-size: 18px;
    }

}

@media(max-width:755px) {
    .SUCCESS {
        font-size: 60px;
    }
}

@media(max-width: 550px) {
    .section2img {
        width: 100%;
        height: auto;
    }

    .section2title {
        font-size: 32px;
    }


    .twocols {
        flex-direction: column;
    }

    .readmore,
    .Consultation {
        font-size: 12px;
        padding: 15px 20px;
    }

}

@media (max-width: 430px) {
    .contactForm {
        padding: 0px 15px;

    }

    .contactinfo {
        padding-left: 15px;
    }

    .SUCCESS {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
        padding-left: 15px;
    }
}

@media(max-width: 410px) {
    .AMBITION {
        font-size: 12px;
    }


    .section2title {
        font-size: 24px;
    }

    .section3header {
        width: 100%;
        padding-left: 5px;
    }
}

@media(max-width: 390px) {
    .section2title {
        font-size: 20px;
        padding-left: 5px;
    }

    .section2paragraf,
    .section2paragraf2 {
        font-size: 12px;
        padding-left: 5px;
    }

    .AMBITION {
        font-size: 10px;
        padding-left: 5px;
    }

    .SUCCESS {
        font-size: 40px;
        padding-left: 5px;
    }

    .coaching {
        font-size: 12px;
        padding-left: 5px;
    }



    h2 {
        font-size: 32px;
        padding-left: 5px;
    }

    .readmore,
    .Consultation {
        font-size: 10px;
        padding: 10px 20px;
    }
}

@media(max-width: 320px) {
    .allan a {
        font-size: 16px;
    }

    .Personal a {
        padding-left: 5px;
    }

    .navigacia {
        width: 100%;
    }

    .section2title {
        font-size: 24px;
    }

    .section2paragraf,
    .section2paragraf2 {
        font-size: 12px;
    }

    .AMBITION {
        font-size: 10px;
    }

    .SUCCESS {
        font-size: 40px;
    }

    .coaching {
        font-size: 12px;
    }

    .section3background {
        background-image: none;
    }

    .submit button {
        width: 280px;

    }

    .submittext {
        padding-left: 50px;
    }

    .copyright {
        display: none;
    }

    .copyright1 {
        display: block;
        padding-top: 20px;
        text-align: center;
        font-family: montserrat1;
        font-size: 12px;
        line-height: 1.5em;
        width: 200px;


    }

    .card1,
    .card2,
    .card3 {
        width: 300px;
    }
}