@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: montserrat1;
    src: url(../fonts/montserrat/static/Montserrat-Light.ttf);
    font-weight: 200;
}

.baground {
    background-image: url(../imgs/mountains-blue.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.mainbox {
    display: flex;
    flex-direction: column;
    background: white;
    max-width: 1000px;
    height: 100%;
    padding: 30px 40px;
}

.mainboxtop {
    display: flex;
    gap: 15px;
    justify-content: space-between;

}

.searchmane {
    display: flex;
    gap: 15px;

}

input[type="text"] {
    border: none;
    outline: none;
    padding: 5px 0;
    background: transparent;
    transition: border-color 0.3s;
}

.select select {
    font-family: montserrat1;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
}

.search {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    gap: 15px;
}

.connectmembers {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 60px;
}

h1 {
    font-family: montserrat;
    font-size: 28px;
    letter-spacing: 5px;
    text-align: center;
}

.text {
    font-family: montserrat1;
    font-size: 15px;
    padding: 30px;
    max-width: 450px;
    text-align: center;
    line-height: 2;
}

.btn {
    background: rgb(27, 130, 121);
    color: white;
    padding: 15px 60px;
    border: none;
}

.btn:hover {
    text-decoration: underline;
}

.iconmob {
    display: none;
}

.footerinfram {
    width: 100%;
    height: 600px;

}

@media(max-width:590px) {
    .imgicon {
        display: none;
    }

    .iconmob {
        display: block;
    }

    h1 {
        text-align: center;
    }

    .connectmembers {
        padding: 60px 0px;
    }
}

@media(max-width:320px) {
    .mainboxtop {
        justify-content: start;
        gap: 0;
    }

    .mainbox {
        padding: 0;
    }

    .searchmane,
    .select {
        border: 1px solid black;
        width: 100%;

    }
}