@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: montserrat1;
    src: url(../fonts/montserrat/static/Montserrat-Light.ttf);
    font-weight: 200;
}

.baground {
    background-image: url(../imgs/mountains-blue.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.mainbox {
    display: flex;
    flex-direction: column;
    background: white;
    max-width: 1000px;
    height: 100%;
    padding: 30px 40px;
}

.mainboxtop {
    display: flex;
    gap: 15px;
    justify-content: space-between;

}

.searchmane {
    display: flex;
    gap: 15px;

}

.search input[type="text"] {
    border: none;
    outline: none;
    padding: 5px 0;
    background: transparent;
    transition: border-color 0.3s;
}

.select select {
    font-family: montserrat1;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
}

.search {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    gap: 15px;
}

.connectmembers {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 60px;
}

h1 {
    font-family: montserrat;
    font-size: 28px;
    letter-spacing: 5px;
    text-align: center;
}

.text {
    font-family: montserrat1;
    font-size: 15px;
    padding: 30px;
    max-width: 450px;
    text-align: center;
    line-height: 2;
}

.btn {
    background: rgb(27, 130, 121);
    color: white;
    padding: 15px 60px;
    border: none;
}

.btn:hover {
    text-decoration: underline;
}

.iconmob {
    display: none;
}

.footermaine {
    background-color: rgb(105, 218, 214);
    color: black;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footerline {
    border: none;
    height: 2px;
    background-color: black;
    width: 50px;
    margin: 0 0 20px 0;
}

.contactinfo {
    font-family: montserrat1;
    font-size: 14px;
    color: black;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: start;
    max-width: 300px;
}

h4 {
    font-family: montserrat;
    font-size: 24px;
    color: black;
    letter-spacing: 0.15em;
    line-height: 1.2;
    padding-bottom: 50px;
}

.contactdetails {
    max-width: 220px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
}

.socialicons {
    display: flex;
    gap: 20px;
}

.copyright {
    padding-top: 60px;
}

.copyright1 {
    display: none;
}

.wix {
    font-family: montserrat1;
    font-size: 12px;
    color: black;
    letter-spacing: 0.1em;
    text-decoration: underline;
}

.contactForm {
    max-width: 600px;
}

.formRow {
    margin-bottom: 20px;
}

.twocols {
    display: flex;
    gap: 20px;
}

.formgroup {
    display: flex;
    flex-direction: column;
}

.contactForm label {
    margin-bottom: 10px;
    font-weight: 500;
}

.contactForm input,
.contactForm textarea {
    padding: 15px;
    border: 2px solid black;
    background: transparent;
    font-size: 16px;
}

.btn-dark {
    padding: 15px 50px;
    background: black;
    color: white;
    cursor: pointer;
    display: flex;
    justify-self: end;
}

@media(max-width:960px) {
    .mainbox {
        margin: 0 15px;
    }

    .footermaine {
        flex-direction: column;
        align-content: space-around;
        gap: 50px;
    }

    .contactdetails {
        align-items: start;
    }

    .copyright {
        display: none;
    }

    .copyright1 {
        display: block;
        margin-top: 30px;
        padding: 0px 10px;
    }
}

@media(max-width:925px) {
    h1 {
        line-height: 1.5;
    }
}


@media(max-width:590px) {
    .imgicon {
        display: none;
    }

    .iconmob {
        display: block;
    }

    h1 {
        text-align: center;
    }

    .connectmembers {
        padding: 60px 0px;
    }

    .twocols {
        flex-direction: column;
    }
}

@media (max-width: 430px) {
    .contactForm {
        padding: 0px 15px;

    }

    .contactinfo {
        padding-left: 15px;
    }
}

@media(max-width:320px) {
    .mainboxtop {
        justify-content: start;
        gap: 0;
    }

    .mainbox {
        padding: 0;
    }

    .searchmane,
    .select {
        border: 1px solid black;
        width: 100%;
        margin-top: 15px;
    }

    .submit button {
        width: 280px;

    }

    .submittext {
        padding-left: 80px;
    }

}