@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: montserrat1;
    src: url(../fonts/montserrat/static/Montserrat-Light.ttf);
    font-weight: 200;
}

.plansMain {
    background-image: url(../imgs/mountains-blue.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plansHead {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 50px 0px 20px;

}

h1 {
    font-family: montserrat;
    font-size: 50px;
}

p {
    font-family: montserrat1;
    font-size: 16px;
    padding: 10px 0px 10px;

}

.bigtext {
    line-height: 1.5;
}

.plancards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    column-gap: 15px;
    padding: 50px 0px 5px;
}

.plcard {
    width: 300px;
    height: auto;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    background: white;
}

.card1 {
    opacity: 80%;

}

.card5 {
    opacity: 60%;
}

h2 {
    font-family: montserrat1;
    font-size: 20px;
    padding-top: 20px;
}

.cardbtn {
    background: black;
    color: white;
    display: inline-block;
    width: 220px;
    padding: 14px 16px;
    margin: 20px 0px 30px;
}

.cardbtn:hover {
    text-decoration: underline;
}

.number {
    font-size: 70px;
}

.list {
    font-family: montserrat1;
    font-size: 14px;
    padding: 20px 20px;
}

.plcard li {
    padding: 7px 0px;
    line-height: 2;
}

.footerinfram {
    width: 100%;
    height: 600px;

}

@media(max-width:950px) {
    .plancards {
        margin: 0 15px;
    }
}


@media(max-width:715px) {
    .plansHead {
        padding: 50px 15px 20px;
    }
}

@media(max-width:630px) {
    .plancards {
        margin: 0px 20px;
    }
}