@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: montserrat1;
    src: url(../fonts/montserrat/static/Montserrat-Light.ttf);
    font-weight: 200;
}

.section1 {
    background-image: url(../imgs/addme.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    z-index: 1;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    width: 50px;
    margin: 0 0 20px 0;
}

.conteiner {
    max-width: 600px;
    margin: auto;
    display: flex;
    padding-top: 50px;

}

.aboutme {
    width: 200px;
    font-family: montserrat;
    font-size: 40px;
}

.section2kontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1000px;
    margin: auto;
}

.partOne {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 100%;
}

.titleParag {
    max-width: 550px;
    padding-top: 100px;
}

.title {
    font-family: montserrat;
    font-size: 23px;
    padding-bottom: 15px;
}

.paragraph1 {
    font-family: montserrat1;
    font-size: 15px;
    line-height: 1.6;
}

.imgman {
    max-width: 320px;
    max-height: 320px;
    margin-top: -100px;
    border: 10px solid white;
}

.paragraph2 {
    width: 100%;
    font-family: montserrat1;
    font-size: 15px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 20px;
}

.education {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 60px;
    gap: 15px;
}

.unlist ul {
    list-style-type: disc;
    padding-left: 20px;
}

.unlist li {
    font-family: montserrat1;
    line-height: 1.5;
    font-size: 16px;
}



@media(max-width: 1000px) {
    .section2kontainer {
        padding: 20px;
    }

}

@media(max-width: 910px) {
    .imgman {
        order: 1;
        margin-top: -30px;

    }

    .titleParag {
        order: 2;
        padding-top: 5px;
    }

}

@media(max-width: 650px) {
    .aboutme {
        padding-left: 15px;
    }

    .education {
        flex-wrap: wrap;
    }

}